**/*.rs.bk
*.db
*.info
*.log
*.njsproj
*.ntvs*
*.sln
*.sqlite
*.suo
*.sw?
*.swo
*.swp
.DS_Store
.beads/
.cargo/
.devenv*
.devenv*
.direnv
.direnv
.env
.env.*.local
.env.local
.idea
.idea/
.pre-commit-config.yaml
.pre-commit-config.yaml
.vscode
.vscode/
/.serena/
/.tmp
/target/
Cargo.lock
Thumbs.db
dev-debug.log
devenv.local.nix
devenv.local.nix
log/*
logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
