**/*.rs.bk
*.db
*.info
*.log
*.njsproj
*.ntvs*
*.sln
*.sqlite
*.suo
*.sw?
*.swo
*.swp
.DS_Store
.attractor/
.beads/
.cargo/
.devenv*
.direnv
.env
.env.*.local
.env.local
.idea
.idea/
.vscode/
/.serena/
/.tmp
/target/
Thumbs.db
dev-debug.log
devenv.local.nix
devenv.local.nix
log/*
logs
node_modules/
npm-debug.log*
outcome.json
yarn-debug.log*
yarn-error.log*
